* {
    margin:0;
    padding: 0;
    border: 0;
    color: #121212;
    text-decoration: none;
    list-style: none;
}

body {
    font-size: 20px;
    font-style: Arial; 
}

header {
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    white-space: nowrap;
}

h1 {
    padding: 2% 24% 2% 2%;
    font-size: 35px;
    color: white;
}

#SupHeader {
    background-color: #121212;
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
}

#SupHeader img {
    width: 120px;
    height: 120px;
    padding-left: 5%;
}

.BtnGo {
    background-color: #ffc200;
    padding: 2%;
    border-radius: 10px;
    color: black;
    transition: 0.5s;
}

.BtnGo:hover {
    transform: scale(1.1);
    background-color: #ffd343;
    color: white;
}

#InfHeader {
    background-color: #ffc200;
    width: 100%;
    height: 25px;
}

nav {
    margin: 0 5%;
    font-size: 12px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
}

nav li {
    padding: 0.7% 3%;
}

main {
    
}
