html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    color: #121212;
    text-decoration: none;
    list-style: none;
}

::-webkit-scrollbar {
    background-color: #121212;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #ffc200;
    border-radius: 10px;
}

#Cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: #121212;
    width: 100%;
    height: 6rem;
    align-items: center;
    white-space: nowrap;
    padding: 1rem;
    font-family: "Staatliches", sans-serif;
    letter-spacing: 5px;
}

#titulo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5rem;
    padding-left: 7rem;
}

#Cabecalho h1 {
    font-size: 55px;
    color: white;
    font-weight: 500;
}

#Cabecalho img {
    width: 7.5rem;
    height: 6.5rem;
}

#BtnGo {
    background-color: #ffc200;
    border: solid 4px #ffc200;
    border-radius: 10px;
    color: #121212;
    font-weight: 550;
    font-size: 25px;
    height: 4rem;
    width: 13rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    margin-right: 25rem;
}

#BtnGo:hover {
    transition: 0.5s;
    transform: scale(1.1);
}

nav ul {
    background-color: #ffc200;
    display: flex;
    flex-direction: row;
    gap: 5rem;
    align-items: center;
    padding-left: 5rem;
    height: 3.3rem;
}

nav li {
    font-size: 24px;
    font-weight: 450;
    font-family: "Staatliches", sans-serif;
    letter-spacing: 2px;
    transition: 0.3s;
    border-bottom: #ffc200 solid 3px;
}

nav li:hover {
    transform: scale(1.05);
    border-bottom: #121212 solid 3px;
}

#QS {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: calc(100vh - 11rem);
}

#TxtQS {
    background-color: #292929;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#TxtQS p {
    font-family: "Roboto";
    color: #f9f7f4;
    font-size: 30px;
    letter-spacing: 2px;
}

#TxtQS h2 {
    font-family: "Staatliches", sans-serif;
    color: #ffc200;
    font-size: 5rem;
    letter-spacing: 5px;
}

#TxtQS a {
    background-color: #ffc200;
    border-radius: 10px;
    color: #121212;
    font-weight: 500;
    font-size: 28px;
    font-family: "Staatliches", sans-serif;
    height: 4.5rem;
    width: 13rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    margin-top: 4rem;
    border: #ffc200 solid 3px;
}

#TxtQS a:hover {
    color: #f9f7f4;
    background-color: #292929;
    transform: scale(1.2);
}

#BanQS {
    background-image: url("../img/BanQS.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 50%;
}

#BanSH {
    background-color: #5b5b5b;
    width: 100%;
    height: 100%;
    opacity: 70%;
}

.quem-somos {
    width: 100%;
    height: 53rem;
    background-color: #f9f7f4;
}

footer {
    background-color: #121212;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.Rodape {
    top: 0;
    flex-direction: column;
    padding: 5% 0;
}

.Rodape img {
    width: 150px;
    height: 150px;
    transition: 0.5s;
}

.Rodape img:hover {
    transform: scale(1.2);
}

.Rodape li {
    width: 350px;
    padding: 3%;
    transition: 0.5s;
}

.Rodape li:hover {
    transform: scale(1.1);
}

.Rodape li a {
    color: #ffc200;
    font-family: "Staatliches", sans-serif;
    font-size: 25px;
}

.Rodape li a:hover {
    color: #e6b61c;
}

.Rodape h3 {
    color: #f9f7f4;
    font-family: "Staatliches", sans-serif;
    font-size: 30px;
}

.Rodape i {
    padding: 0 5% 0 0;
    color: #ffc200;
}

hr {
    border: 1px solid white;
    border-radius: 5px;
    height: 50%;
    text-align: center;
}

#TitFO h3 {
    padding: 5% 0;
    color: #f9f7f4;
    font-family: "Staatliches", sans-serif;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 5px
}

.topo {
    background-color: #ffc200;
    position: fixed;
    bottom: 20px;
    right: -500px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    transition: 0.4s all;
}

.topo img {
    width: 45px;
}

.mostrar-botao .topo {
    right: 20px;
    transition: 0.4s all;
}