html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

* {
    margin:0;
    padding: 0;
    border: 0;
    color: #121212;
    text-decoration: none;
    list-style: none;
}

#Cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    background-color: #121212;
    width: 100%;
    height: 7rem;
    align-items: center;
    white-space: nowrap;
    padding: 1rem;
    font-family: "Staatliches", sans-serif;
    letter-spacing: 5px;
}

#Cabecalho h1 {
    font-size: 55px;
    color: white;
    font-weight: 500;
}

#Cabecalho img {
    width: 9rem;
    height: 8rem;
}

#Cabecalho #BtnGo {
    background-color: #ffc200;
    border-radius: 10px;
    color: #121212;
    font-weight: 500;
    font-size: 30px;
    height: 5rem;
    width: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

#Cabecalho a:hover {
    color: #f9f7f4;
    transform: scale(1.1);
}

#Cabecalho #LogoA img {
    transition: 0.5s;
}

#Cabecalho #LogoA img:hover {
    transform: scale(1.05);
}

nav ul {
    background-color: #ffc200;
    display: flex;
    flex-direction: row;
    gap: 4rem;
    padding: 1rem;
    padding-left: 4rem;
}

nav li {
    font-size: 24px;
    font-weight: 450;
    font-family: "Staatliches", sans-serif;
    letter-spacing: 2px;
    transition: 0.5s;
}

nav li:hover {
    transform: scale(1.2);
}

nav li a:hover {
    color: #f9f7f4;
}

#QS {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 400px;
}

#TxtQS {
    background-color: #292929;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 50%;
    gap: 1.5rem;
}

#TxtQS h3 {
    width: 300px;
    font-family: "Roboto";
    color: #f9f7f4;
}

#TxtQS h2 {
    font-family: "Staatliches", sans-serif;
    color: #ffc200;
    font-size: 40px;
}

#TxtQS a {
    background-color: #ffc200;
    border-radius: 10px;
    color: #121212;
    font-weight: 500;
    font-size: 20px;
    font-family: "Staatliches", sans-serif;
    height: 3rem;
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

#TxtQS a:hover {
    color: #f9f7f4;
    transform: scale(1.2);
}

#BanQS {
    background-image: url("../img/BanQS.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    width: 50%;
}

#BanSH {
    background-color: #5b5b5bd0;
    width: 100%;
    height: 100%;
}

footer {
    background-color: #121212;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.Rodape {
    top: 0;
    flex-direction: column;
    padding: 5% 0;
}

.Rodape img {
    width: 150px;
    height: 150px;
    transition: 0.5s;
}

.Rodape img:hover {
    transform: scale(1.2);
}

.Rodape li {
    width: 350px;
    padding: 3%;
    transition: 0.5s;
}

.Rodape li:hover {
    transform: scale(1.1);
}

.Rodape li a {
    color: #ffc200;
    font-family: "Staatliches", sans-serif;
    font-size: 25px;
}

.Rodape li a:hover {
    color: #e6b61c;
}

.Rodape h3 {
    color: #f9f7f4;
    font-family: "Staatliches", sans-serif;
    font-size: 30px;
}

.Rodape i {
    padding: 0 5% 0 0;
    color: #ffc200;
}

hr {
    border: 1px solid white;
    border-radius: 5px;
    height: 50%;
    text-align: center;
}

#TitFO h3 {
    padding: 5% 0;
    color: #f9f7f4;
    font-family: "Staatliches", sans-serif;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 5px
}
